* {
    font-family: 'Muli';
    font-size: 20px;
}

/*Perque el height funcioni necesitem aquesta linea abans*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url(/images/bg.png);
    /* 100% */
    background-position: center;
    /* Center the image */
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
}

.center-container {
    position: absolute;
    top: 20%;
    left: 40%;
    padding: 30px;
}

.transparent-input {
    background-color: transparent !important;
}

.form-control::placeholder {
    color: white !important;
}

.bg-blue {
    background-color: #377580;
}

#bold {
    font-weight: bold;
}